@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto.ttf') format('truetype');
}

:root {
    --primary: #14213D;
    --secondary: #FCA311;
    --info: #8D99AE;
    --tertiary: #E5E5E5;
    --quaternary: #FFFFFF;
    --black: #000000;
    --danger: #b91111;
    --dimgray: #bdbdbd;
    --warning: #ffcc00;
    --success: #28a745;
    --light: #f8f9fa;
    --dark: #343a40;
    --warning: #ffbf00;
}

html {
    scroll-behavior: smooth;
    background-color: var(--tertiary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    background-color: var(--primary) !important;
    color: var(--quaternary) !important;
}

.btn-primary:hover {
    background-color: var(--secondary) !important;
    color: var(--quaternary) !important;
    transition: background-color 0.3s ease !important;
}

.btn-primary:focus {
    box-shadow: 0 0 5px var(--secondary) !important;
}

.btn-primary:active {
    background-color: var(--secondary) !important;
    color: var(--quaternary) !important;
}

.btn-secondary {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: var(--quaternary) !important;
}

.btn-secondary:hover {
    color: var(--quaternary) !important;
    background-color: var(--primary) !important;
}

.btn-secondary:focus {
    box-shadow: 0 0 5px var(--primary) !important;
}

.btn-secondary:active {
    background-color: var(--primary) !important;
    color: var(--quaternary) !important;
}

.btn-success {
    background-color: var(--success) !important;
    color: var(--quaternary) !important;
    border-color: var(--success) !important;
    transition: background-color 0.3s ease !important;
}

.btn-success:hover {
    background-color: var(--secondary) !important;
    color: var(--quaternary) !important;
    border-color: var(--secondary) !important;
}

.btn-success:focus {
    box-shadow: 0 0 5px var(--secondary) !important;
}

.btn-success:active {
    background-color: var(--secondary) !important;
    color: var(--quaternary) !important;
    border-color: var(--secondary) !important;
}

.btn-danger {
    background-color: var(--danger) !important;
    color: var(--quaternary) !important;
    border-color: var(--danger) !important;
}

.btn-danger:hover {
    background-color: var(--secondary) !important;
    color: var(--quaternary) !important;
    border-color: var(--secondary) !important;
}

.btn-danger:focus {
    box-shadow: 0 0 5px var(--secondary) !important;
}

.btn-danger:active {
    background-color: var(--secondary) !important;
    color: var(--quaternary) !important;
    border-color: var(--secondary) !important;
}

.btn-warning {
    background-color: var(--warning) !important;
    color: var(--quaternary) !important;
    border-color: var(--warning) !important;
}

.btn-warning:hover {
    background-color: var(--secondary) !important;
    color: var(--quaternary) !important;
    border-color: var(--secondary) !important;
}

.btn-warning:focus {
    box-shadow: 0 0 5px var(--secondary) !important;
}

.btn-warning:active {
    background-color: var(--secondary) !important;
    color: var(--quaternary) !important;
    border-color: var(--secondary) !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
    border: 1px solid var(--primary) !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: var(--primary) !important;
    box-shadow: 0 0 5px var(--secondary) !important;
}

input[type="checkbox"] {
    cursor: pointer;
    accent-color: var(--primary);
}