@import './base.css';

.sidebar {
  background-color: var(--primary);
  color: var(--sidebar-text);
  padding: 1rem;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.sidebar nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar a {
  color: var(--quaternary);
  text-decoration: none;
  width: 100%;
  text-align: left;
}

.sidebar a:hover {
  color: var(--secondary);
  transition: color 0.3s ease;
}

.sidebar a.active {
  color: var(--quaternary);
}

.sidebar h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--quaternary);
  text-align: center !important;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

.sidebar-menu .nav-item {
  margin: 0.5rem 0;
}

.sidebar-menu .svg-inline--fa {
  margin-right: 0.5rem !important;
}

.sidebar-menu,
.dropdown .nav-item a {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 100%;
}

.content-wrapper {
  background-color: var(--quaternary);
  color: var(--black);
  padding: 2rem;
}

.todo-item .dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  cursor: pointer;
}

.nav-tabs .nav-link {
  color: var(--black);
  border: 1px solid gray;
}

.nav-tabs .nav-link.active {
  background-color: var(--primary);
  color: var(--quaternary);
}

.nav-tabs .nav-link:hover {
  background-color: var(--secondary);
  color: var(--quaternary);
  transition: background-color 0.3s ease;
  border: 1px solid var(--primary);
}

.calendar {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar .dates {
  border: 1px solid #ccc;
}

.calendar .months {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.calendar .months .each-month:hover {
  cursor: pointer;
}

.calendar .months .selected {
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px;
}

.calendar .selected-day {
  background-color: var(--info);
  color: white;
}

#calendar-body td {
  padding: 10px;
}

#calendar-body .today {
  background-color: var(--secondary);
  color: #fff;
  border-radius: 5px;
}

.calendar .triangle-left {
  float: left;
  position: relative;
}

.calendar .triangle-right {
  float: right;
  position: relative;
}

.calendar .triangle-left:hover {
  color: var(--secondary);
  cursor: pointer;
}

.calendar .triangle-right:hover {
  color: var(--secondary);
  cursor: pointer;
}

.alert {
  position: fixed !important;
  top: 5% !important;
  left: 50% !important;
  transform: translate(-40%, -50%);
  z-index: 99999 !important;
  width: 68% !important;
  margin: 0 auto !important;
  opacity: 0.9 !important;
  transition: opacity 0.3s ease !important;
}

select {
  border: 1px solid var(--primary) !important;
}

select:focus {
  border-color: var(--secondary) !important;
  box-shadow: 0 0 5px var(--secondary) !important;
}

.dropdown-menu {
  background-color: var(--tertiary) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid var(--secondary) !important;
}

.dropdown-item {
  color: black !important;
  background-color: var(--tertiary) !important;
  padding: 0.5rem 1rem !important;
}

.dropdown-item:hover {
  background-color: var(--quaternary) !important;
  color: var(--secondary) !important;
}

.dropdown-item.active {
  background-color: var(--secondary) !important;
  color: var(--quaternary) !important;
}

.dropdown-item:focus {
  background-color: var(--secondary) !important;
  color: var(--quaternary) !important;
}

.dropdown {
  width: 100% !important;
}

.dropdown .nav-link {
  width: 100% !important;
}

.dropdown .nav-link:focus {
  color: var(--secondary) !important;
}

.debt-list-container a {
  color: black !important;
  text-decoration: none !important;
}

.debt-list-container a:hover {
  color: var(--secondary) !important;
  transition: color 0.3s ease !important;
  text-decoration: none !important;
}

.debt-list-container .card {
  background-color: var(--quaternary) !important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3) !important;
}

.debt-detail .card {
  background-color: var(--quaternary) !important;
  border: 1px solid var(--tertiary) !important;
}

.debt-detail .card-header {
  background-color: var(--primary) !important;
  color: var(--quaternary) !important;
}

.debt-detail .card-footer {
  background-color: var(--dimgray) !important;
  color: var(--black) !important;
}

.debt-detail .card-title {
  color: var(--primary) !important;
}

.debt-detail .card-body {
  color: var(--black) !important;
}

.markdown-body {
  background-color: var(--quaternary) !important;
  color: var(--black) !important;
  padding: 1rem !important;
  border-radius: 5px !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: var(--primary) !important;
}

.markdown-body p {
  color: var(--black) !important;
}

.markdown-body ul {
  padding-left: 0 !important;
  margin: 0 !important;
  list-style: none !important;
}

.markdown-body li {
  list-style: none !important;
  margin: 0.5rem 0 !important;
}

.markdown-body ul ul li {
  padding-left: 1.5rem !important;
}

.debt-form {
  padding: 2rem !important;
  background-color: var(--quaternary) !important;
  border-radius: 10px !important;
  border: 1px solid var(--primary) !important;
}

.dashboard,
.main-content {
  background-color: var(--quaternary) !important;
  padding: 2rem !important;
  border-radius: 10px !important;
}

.dashboard h1 {
  color: var(--primary) !important;
  margin-bottom: 1rem !important;
}

.dashboard .card {
  border: 1px solid var(--primary) !important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1) !important;
}

.text-bg-primary {
  background-color: var(--primary) !important;
  color: var(--quaternary) !important;
}

.text-bg-secondary {
  background-color: var(--secondary) !important;
  color: var(--quaternary) !important;
}

.text-bg-tertiary {
  background-color: var(--dimgray) !important;
  color: var(--quaternary) !important;
}

.sidebar {
  min-height: 100vh;
}

.offcanvas {
  transition: visibility 0s, transform 0.3s ease-in-out;
}

.offcanvas ul li {
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: larger;
}

.sidebar-close-btn {
  background: transparent;
  border: none;
  color: white;
}

.sidebar-close-btn:hover {
  color: #ccc;
}

.sidebar-toggle-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: var(--primary);
  color: var(--quaternary);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  pointer-events: auto;
}

.sidebar-toggle-button:hover {
  background-color: var(--secondary);
  color: var(--quaternary);
  transition: background-color 0.3s ease;
}

.sidebar-toggle-button:focus {
  outline: none;
  box-shadow: 0 0 5px var(--secondary);
}

.content-wrapper {
  margin-left: 250px;
  padding: 2rem;
  transition: margin-left 0.3s ease;
  background-color: var(--tertiary) !important;
  height: 100%;
  min-height: 100vh;
}

.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-dropdown {
  background-color: var(--primary) !important;
  color: black !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

button.notification-icon {
  cursor: pointer;
  color: var(--quaternary);
  outline: none !important;
  background: transparent;
  border: none;
}

button.notification-icon:focus {
  outline: none !important;
  box-shadow: 0 0 5px var(--secondary) !important;
  color: var(--quaternary) !important;
}

button.notification-icon:active {
  outline: none !important;
  box-shadow: 0 0 5px var(--secondary) !important;
  color: var(--quaternary) !important;
}

button.notification-icon:hover {
  color: var(--secondary) !important;
  transition: color 0.3s ease !important;
}

.notification-dropdown .dropdown-menu {
  background-color: var(--primary) !important;
  border: 1px solid var(--secondary) !important;
  border-radius: 5px !important;
  padding: 0 !important;
  width: 300px !important;
}

.notification-dropdown .dropdown-menu .dropdown-header {
  color: white !important;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.notification-dropdown .dropdown-item {
  background-color: var(--primary) !important;
  color: white !important;
  padding: 0.5rem 1rem !important;
}

.notification-dropdown .dropdown-item:hover {
  cursor: default !important;
}

#notificationDropdown .dropdown-item:focus {
  background-color: var(--secondary) !important;
  color: var(--quaternary) !important;
}

.scrollable-months {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 4px;
}

.debt-card {
  transition: transform 0.15s, box-shadow 0.15s ease-in-out !important;
}

.debt-card:hover {
  transform: translateY(-4px) scale(1.03) !important;
  cursor: pointer !important;
}

.todo-card {
  transition: box-shadow 0.15s, transform 0.15s;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

#preloader {
  position: fixed !important;
  z-index: 99999;
  background: rgba(255, 255, 255, 0.6) !important;
  width: 100vw !important;
  height: 100vh !important;
  top: 0 !important;
  left: 0 !important;
  align-items: center !important;
  justify-content: center !important;
}

#preloader .spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.25em;
  color: var(--primary) !important;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.store-alert {
  position: fixed !important;
  top: 5% !important;
  left: 55% !important;
  transform: translate(-50%, -50%);
  z-index: 99999 !important;
  width: 100% !important;
  max-width: 800px !important;
  margin: 0 auto !important;
  opacity: 0.9 !important;
  transition: opacity 0.3s ease !important;
}

#preloader .text-primary {
  font-size: 2rem !important;
  color: var(--primary) !important;
}

#calendar-button {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) !important;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .sidebar-toggle-button {
    left: 0.5rem;
    top: 0.5rem;
  }

  .sidebar h1 {
    font-size: 1.5rem;
    text-align: center !important;
  }

  .content-wrapper {
    margin-left: 0 !important;
  }

  .greeting {
    text-align: center !important;
  }

  .alert {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 1rem !important;
  }

  .debt-tabs .nav-tabs {
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;
  }

  .debt-tabs .nav-tabs .nav-item {
    flex: 0 0 auto;
  }

  .scrollable-months {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .scrollable-months .each-month {
    display: inline-block;
    min-width: 90px;
    text-align: center;
  }

  .content-wrapper {
    margin-top: 3.5rem !important;
  }

  #calendar-button {
    font-size: 12px !important;
  }
}